{%  extends 'base.html.twig' %}

{% block body %}
<form action="{{ path("results") }}" method="post">
    <label>Dummy: </label>
    <input type="text" name="dummy" />
    <input type="submit" value="Submit" />
</form>
{% endblock %}