{%  extends 'base.html.twig' %}

{% block body %}

    {% for member in members %}
        <div>
            <a href="{{ path('_overview', {'hash': member.event.hash}) }}">{{ member.event.name }}</a>
        </div>
    {% endfor %}

{% endblock %}