{%  extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="saying text-center">Išalkote? Užsisakykite maistą su draugais!</h1>
        <p class="text-center">Greita. Paprasta. Patogu.<p>
        {% if app.user %}
            <p class="text-center"><a href="{{ path('new_event') }}" class="btn btn-primary btn-md" role="button">UŽSAKYTI</a></p>
        {% else %}
            <p class="text-center"><a href="{{ url('fos_user_registration_register') }}" class="btn btn-primary btn-md" role="button">REGISTRUOTIS</a></p>
        {% endif %}
    </div>
{% endblock %}