{%  extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Išalkote? Užsisakyk maistą su draugais!</h1>
    <h1 class="text-center">Greita. Paprasta. Patogu.</h1>
    <div class="col-md-4 col-md-offset-4">
        <a href="#">
        <button type="button" class="btn btn-primary btn-md btn-block">UŽSAKYTI</button>
        </a>
    </div>
{% endblock %}