{%  extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="saying text-center">Išalkote? Užsisakyk maistą su draugais!</h1>
        <p class="text-center">Greita. Paprasta. Patogu.<p>
        <p class="text-center"><a class="btn btn-primary btn-md" role="button">UŽSAKYTI</a></p>
    </div>
{% endblock %}