{%  extends 'base.html.twig' %}

{% block body %}

    <div class="shops_list">

        {% for shop in shops %}
            <div class="col-md-4">
                <img src="{{ asset('' ~ shop.getImageLocation() ~ '') }}" class="img-thumbnail" .img-responsive>
                <a href="shops_list/{{ shop.getId() }}">{{ shop.getName() }}</a>
            </div>
        {% endfor %}

    </div>

{% endblock %}