{% extends 'event/dashboard/layout.html.twig' %}

{% block actions %}
    {% if guest == current %}
        <p style="float: right;">
            <span class="glyphicon glyphicon-search"></span>
        </p>
    {% endif %}
{% endblock %}