{% extends 'event/dashboard/layout.html.twig' %}

{% block actions %}
    {% if guest == current %}
        <p style="float: right;">
            <a href="{{ path('_cart_overview', {'memberId': guest.id, 'hash': event.hash }) }}"><span style="color: #ffb03b" class="glyphicon glyphicon-search"></span></a>
            <span style="color: #ffb03b" class="glyphicon glyphicon-user"></span>
        </p>
    {% endif %}
{% endblock %}