{% extends 'event/dashboard/host.html.twig' %}

{% block host_actions %}
    <p style="float: right;">
        <span class="glyphicon glyphicon-search"></span>
    </p>
{% endblock %}

{% block actions %}
    <p style="float: right;">
        <span class="glyphicon glyphicon-search"></span>
        <span class="glyphicon glyphicon-education"></span>
        <span class="glyphicon glyphicon-euro"></span>
        <span class="glyphicon glyphicon-ok"></span>
        <span class="glyphicon glyphicon-remove-circle"></span>
    </p>
{% endblock %}