{% extends 'event/dashboard/layout.html.twig' %}

{% block host_actions %}
    <p style="float: right;">
        <a href="{{ path('_cart_overview', {'memberId': host.id, 'hash': event.hash, }) }}"><span class="glyphicon glyphicon-search"></span></a>
    </p>
{% endblock %}

{% block actions %}
    <p style="float: right;">
        <a href="{{ path('_remove_member', {'hash': event.hash, 'memberId': guest.id }) }}"><span class="glyphicon glyphicon-remove-circle"></span></a>
        <span class="glyphicon glyphicon-ok"></span>
        <span class="glyphicon glyphicon-euro"></span>
        <a href="{{ path('_make_host', {'hash': event.hash, 'memberId': guest.id }) }}"><span class="glyphicon glyphicon-education"></span></a>
        <a href="{{ path('_cart_overview', {'memberId': guest.id, 'hash': event.hash, }) }}"><span class="glyphicon glyphicon-search"></span></a>
    </p>
{% endblock %}