{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <table class="table table-striped">
            <caption>Hosted events</caption>
            <thead>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Bendra suma</th>
                    <th>Bendra skola</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for hosted_event in hosted_events %}
                    <tr>
                        <td>{{ hosted_event.name }}</td>
                        <td>{{ hosted_event.totalPrice }}</td>
                        <td>{{ hosted_event.totalDebt }}</td>
                        <td><a class="btn btn-primary" href="{{ path('dashboard', { 'hash' : hosted_event.hash }) }}">Žiūrėti</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}