.navbar, .jumbotron, body {
    background-color: #17607d;
}

.dtr_login, .dtr_register, .dtr_user, .dtr_logout, .dropdown-toggle, .dtr_new_event {
    font-size: 16px;
    font-weight: 500;
}

.dtr_login:hover {
    background: #ffb03b;

}

.jumbotron h1 {
    font-size: 60px;
}


.jumbotron h1, p, .shop_name {
    color: #fff;
}

.navbar-brand {
    font-weight: 500;
}

.navbar-header .navbar-brand:hover {
    color: #ffb03b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.open .dropdown-toggle.btn-primary{

    background-color: #fff;
    border-color: #ffb03b;
    color: #ffb03b;
}

.btn
                                                                                                                                                    {
                                                                                                                                                        background-color: #ffb03b;
    border-color: #ffb03b;
}


.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Login
-------------------------------------------------- */

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #17607d;
}

.form-signin, .fos_user_registration_register,
.dtr_event_new {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#remember_label, #remember_me {
    display: inline-block;
    float: left;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #f5f5f5;*/
}

/* Shops
-------------------------------------------------- */

.shop_name:hover {
    color: #ffb03b;
    text-decoration: none;
}

.shop_name {
    display: block;
    margin-bottom: 20px;
}

#shop {
    padding-right: 5px;
    margin: auto;
}

.searchForm {
    margin-bottom: 40px;
}

#dtr_dtrbundle_search_searchButton {
    background-color: #ffb03b;
    color: #fff;
    margin-left: 15px;
}

#dtr_dtrbundle_search_searchInput {
    float: left;
    margin-left: 15px;
}

/* Event info
-------------------------------------------------- */
.dtr_event_info .dtr_event_info_title {
    color: #fff;
}

.dtr_event_info .dtr_event_font {
    font-size: 16px;
    font-weight: 700;
}

/* Colors
-------------------------------------------------- */
.required {
    color: #fff;
}

/* Dashboard
-------------------------------------------------- */
.dtr_dash_link:hover, .dtr_dash_link:active {
    background-color: #ffb03b;
    text-decoration: none;
}

/* Cart
-------------------------------------------------- */
.dtr_remove_product:hover, .dtr_remove_product:active {
    text-decoration: none;
}




















