{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h3>Sveiki, esate neprisijunges prie {{ event_name }}</h3>
        <a href="{{ path('join_event', { 'hash' : event_hash }) }}" class="btn btn-primary">Prisijungti</a>
    </div>
{% endblock %}