{% if items is defined %}
    <div>
        <div>
            <p>Cart:</p>
        </div>
        <div>
            {% for item in items %}
                <p>{{ item.getProduct().getName() }} {{ item.getProduct().getPrice() * item.getQuantity() }}€ ({{ item.getQuantity() }})</p>
            {% endfor %}
        </div>
        <p>Total cost: {{ totalCost }}€</p>
    </div>
{% endif %}
