{%  extends 'menu/layout.html.twig' %}

{% block content %}
    <div class="products_list">
        {% for product in products %}
            <div class="col-md-4">
                <p>{{ product.getName() }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}