{% extends 'menu/layout.html.twig' %}

{% block content %}
    <div class="products_list">
        {% for product in products %}
            <div>
                <p>{{ product.getName() }}</p>
                <a href="/event/{{ hash }}/shops/{{ shopName }}/add-to-cart/{{ product.getId() }}" class="button">Add to cart</a>
            </div>
        {% endfor %}
    </div>
    {% include 'menu/cart.html.twig'%}
{% endblock %}